#absolutely-insane {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}

#absolutely-insane #time {
    font-size: 80px;
}

#more-absolutely-insane {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}