body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#absolutely-insane {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}

#absolutely-insane #todaystime {
    font-size: 80px;
}

#more-absolutely-insane {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

#amazing {
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}