body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#absolutely-insane {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}

#absolutely-insane #todaystime {
    font-size: 80px;
}

#more-absolutely-insane {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

#amazing {
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.input-group-item {
    cursor: pointer;
}

#topSites::-webkit-scrollbar {
    display: none;
}

#topSites::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

#topSites div:first-child {
    margin-right: 10px;
}

#topSites div:last-child {
    margin-left: 10px;
}

#topSites div:not(:first-child):not(:last-child) {
    margin: 0 10px;
}

.bookmark {
    height: 56px;
    width: 80px;
    background-color: var(--card-bg);
    cursor: pointer;
    transition: background-color 500ms;
}

.bookmark:hover {
    background-color: var(--fill-bg);
}